<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Grupo 5</title>
    <!-- Favicon-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Grupo 5</a>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Clase 01-Lectura de API'S </h1>
        <p class="lead">Ejercicio para obtener información de servicios web</p>
        <p>Integrantes</p>
        <p><a href="./search"> ANDRÉS BRAVO</a></p>
        <p><a href="./getuser"> RICARDO BRAVO</a></p>
        <p><a href="./getcountry">DENNY HIDALGO</a></p>
        <p><a href="./getgames">DANIEL QUINATOA</a></p>
        <p><a href="./getingredients">LUIS ULLOA</a></p>
        <p><a href="./getbooks">FABRISSIO VARGAS</a></p>
        <p><a href="./getpost">JUAN VEGA</a></p>
        <p><a href="./getrates"> ANDRÉS VILLACIS</a></p>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
